# Practicing Data Carpentry with `Python`


Remember, data carpentry is limitless. Datasets are messy in different ways so we have to think about the best way to clean them according to the type of question we are trying to answer.

We are going to move away from the datasets we used for data carpentry in the lab, and begin to look at some of the baseball data. Now, the beauty of baseball data is that it has been regularly collected for decades, so there is a lot of it, and it is generally well organized, so much of our cleaning problems won't be to restructure the data. Instead, since there is so much of it, we often need to do data conversions in order to tackle our problems effectively. 

Let's go ahead and read in the `Master.csv`, which has data on all of the players. We will call this data frame, `players`.

### Read in the Data

In [12]:
import pandas as pd
 
players = pd.read_csv('../../datasets/baseball-databank/data/Master.csv')

In [13]:
players.head()

,playerID,birthYear,birthMonth,birthDay,birthCountry,birthState,birthCity,deathYear,deathMonth,deathDay,...,nameLast,nameGiven,weight,height,bats,throws,debut,finalGame,retroID,bbrefID
0,aardsda01,1981.0,12.0,27.0,USA,CO,Denver,NaN,NaN,NaN,...,Aardsma,David Allan,220.0,75.0,R,R,2004-04-06,2015-08-23,aardd001,aardsda01
1,aaronha01,1934.0,2.0,5.0,USA,AL,Mobile,NaN,NaN,NaN,...,Aaron,Henry Louis,180.0,72.0,R,R,1954-04-13,1976-10-03,aaroh101,aaronha01
2,aaronto01,1939.0,8.0,5.0,USA,AL,Mobile,1984.0,8.0,16.0,...,Aaron,Tommie Lee,190.0,75.0,R,R,1962-04-10,1971-09-26,aarot101,aaronto01
3,aasedo01,1954.0,9.0,8.0,USA,CA,Orange,NaN,NaN,NaN,...,Aase,Donald William,190.0,75.0,R,R,1977-07-26,1990-10-03,aased001,aasedo01
4,abadan01,1972.0,8.0,25.0,USA,FL,Palm Beach,NaN,NaN,NaN,...,Abad,Fausto Andres,184.0,73.0,L,L,2001-09-10,2006-04-13,abada001,abadan01

Do you see the column of ellipses? This means that those columns are there, but they aren't rendered right now because the frame would be too wide. So, instead, let's print out all of the column names in order to see what labels they have.

In [14]:
players.columns

Index(['playerID', 'birthYear', 'birthMonth', 'birthDay', 'birthCountry',
       'birthState', 'birthCity', 'deathYear', 'deathMonth', 'deathDay',
       'deathCountry', 'deathState', 'deathCity', 'nameFirst', 'nameLast',
       'nameGiven', 'weight', 'height', 'bats', 'throws', 'debut', 'finalGame',
       'retroID', 'bbrefID'],
      dtype='object')

Look at the `finalGame` column. It is actually a date, but if we find the data type right now, it is an object. 

**Note**: an object `dtype` in pandas is actually a way to describe a vector of strings. This is borrowed from `numpy` in which vectors must contain items of the same byte size and, given that strings are of variable sizes, `pandas` saves pointers to objects.

In [15]:
players.finalGame.dtype

dtype('O')

Here is how we would change it to a datetime data type.

In [16]:
pd.to_datetime(players.finalGame)

0       2015-08-23
1       1976-10-03
2       1971-09-26
3       1990-10-03
4       2006-04-13
5       2015-10-03
6       1875-06-10
7       1910-09-15
8       1896-09-23
9       1897-08-19
10      1890-05-23
11      1905-09-20
12      1984-08-08
13      2001-09-29
14      1999-07-21
15      2001-04-13
16      1996-08-24
17      1910-10-15
18      2004-08-07
19      1957-09-11
20      1871-10-21
21      2008-09-28
22      1952-09-27
23      2005-09-29
24      1944-04-29
25      1972-09-30
26      1947-04-17
27      1949-05-09
28      1911-05-05
29      1992-10-03
           ...
18816   2015-09-30
18817   1945-09-30
18818   2015-09-07
18819   2008-08-12
18820   1921-07-19
18821   1888-05-03
18822   1915-09-16
18823   1929-08-25
18824   1944-08-26
18825   2004-10-03
18826   1962-09-30
18827   1983-09-21
18828   2015-09-30
18829   1929-09-25
18830   1911-06-01
18831   2015-10-04
18832   2003-09-28
18833   1952-08-26
18834   2000-10-01
18835   1947-09-23
18836   1998-09-27
18837   2001-06-25
18838   2010-06-28
18839   2015-08-27
18840   1994-08-04
18841   1961-05-09
18842   1991-05-02
18843   1959-06-15
18844   1916-07-12
18845   2015-10-03
Name: finalGame, Length: 18846, dtype: datetime64[ns]

We are going to be working a lot with datetime variables during this practice. Accounting for time is often a powerful dimension if your data contains it. However, working with dates and times can be particularly difficult and is the reason why this lesson is particularly heavy in working with them. Like other data types, datetimes come built with unique functionality that allows the user to perform useful operations.

**Exercise 1**: *Overwrite the `players['finalGame']` column to the new datetime object.*

In [17]:
# Code for Exercise 1 goes here 
# -----------------------------

players['finalGame'] = pd.to_datetime(players.finalGame)

players['finalGame']

0       2015-08-23
1       1976-10-03
2       1971-09-26
3       1990-10-03
4       2006-04-13
5       2015-10-03
6       1875-06-10
7       1910-09-15
8       1896-09-23
9       1897-08-19
10      1890-05-23
11      1905-09-20
12      1984-08-08
13      2001-09-29
14      1999-07-21
15      2001-04-13
16      1996-08-24
17      1910-10-15
18      2004-08-07
19      1957-09-11
20      1871-10-21
21      2008-09-28
22      1952-09-27
23      2005-09-29
24      1944-04-29
25      1972-09-30
26      1947-04-17
27      1949-05-09
28      1911-05-05
29      1992-10-03
           ...
18816   2015-09-30
18817   1945-09-30
18818   2015-09-07
18819   2008-08-12
18820   1921-07-19
18821   1888-05-03
18822   1915-09-16
18823   1929-08-25
18824   1944-08-26
18825   2004-10-03
18826   1962-09-30
18827   1983-09-21
18828   2015-09-30
18829   1929-09-25
18830   1911-06-01
18831   2015-10-04
18832   2003-09-28
18833   1952-08-26
18834   2000-10-01
18835   1947-09-23
18836   1998-09-27
18837   2001-06-25
18838   2010-06-28
18839   2015-08-27
18840   1994-08-04
18841   1961-05-09
18842   1991-05-02
18843   1959-06-15
18844   1916-07-12
18845   2015-10-03
Name: finalGame, Length: 18846, dtype: datetime64[ns]

**Exercise 2**: *Convert `players['debut']` to a datetime object then overwrite the `players['debut']` column to the new datetime object.*

In [18]:
# Code for Exercise 2 goes here 
# -----------------------------


players['debut'] = pd.to_datetime(players.debut)
players['debut']

0       2004-04-06
1       1954-04-13
2       1962-04-10
3       1977-07-26
4       2001-09-10
5       2010-07-28
6       1875-04-26
7       1897-09-04
8       1892-06-14
9       1893-08-16
10      1890-04-19
11      1903-04-25
12      1973-07-29
13      1997-06-10
14      1989-04-08
15      1993-09-07
16      1991-09-10
17      1910-09-10
18      1990-08-21
19      1950-09-15
20      1871-10-21
21      2006-04-04
22      1952-09-27
23      2001-06-25
24      1942-09-19
25      1955-04-13
26      1946-07-28
27      1947-07-18
28      1905-09-04
29      1987-09-08
           ...
18816   2009-04-20
18817   1945-08-27
18818   2005-09-01
18819   2008-08-12
18820   1921-07-06
18821   1888-04-18
18822   1911-09-11
18823   1919-09-04
18824   1944-08-19
18825   2002-06-18
18826   1961-07-26
18827   1971-09-08
18828   2000-07-22
18829   1919-04-27
18830   1910-07-23
18831   2006-08-01
18832   2003-09-05
18833   1944-05-13
18834   1991-09-02
18835   1936-09-16
18836   1996-04-19
18837   2000-04-06
18838   2006-04-03
18839   2013-06-12
18840   1991-09-07
18841   1957-07-01
18842   1982-09-04
18843   1951-04-21
18844   1910-08-14
18845   2015-09-04
Name: debut, Length: 18846, dtype: datetime64[ns]

Creating a datetime object is nice because datetime objects come with their own methods. For example, if we wanted to see a distribution of the days of the week, we could do that by extracting the day of the week. Take a look at how we would do that below.

In [19]:
players['finalGame'] = pd.to_datetime(players.finalGame)
players['finalGame'].dt.weekday_name.head()

0       Sunday
1       Sunday
2       Sunday
3    Wednesday
4     Thursday
Name: finalGame, dtype: object

This returns a series of days of the week, which could be nice for certain types of analyses.

**Exercise 3**: *Create a column in the `players` data frame called `debutMonth` and assign the month number (as in Jan = 1, Feb = 2 and so on) of the `players['debut']` column.*

In [26]:
# Code for Exercise 3 goes here 
# -----------------------------

date = pd.to_datetime(players.debut)

Last week we worked with some descriptive statistics, and it would be nice to be able to compute some on some variables from this data frame. However, sometimes the data isn't in the correct type and therefore the summary stats would produce something a little funny.

Take a look at the `birthYear` column as it is right now when we call describe on it.

In [ ]:
players['birthYear'].describe()

It doesn't really make sense to find the mean or standard deviation of the `birthYear` column. Year is actually a discrete variable and the number of people born each year might be more interesting. 

Below, we convert the `birthYear` column to a discrete variable, but first we must get rid of the `NaN`s.

In [ ]:
players['birthYear']=players['birthYear'].fillna(-1).astype(int).astype('category')
players['birthYear'].describe()

You can see that we changed the `NaN`s with the value -1, and then we changed it to an integer, to get rid of the decimals, and then finally created a discrete variable so we can run the correct type of summary statistics. But what did we forget? Oh yes, the -1s are still in there and those are just empty. 

**Exercise 4**: *Run the `describe()` method on the `birthYear` without the `-1` values.*

In [ ]:
# Code for Exercise 4 goes here 
# -----------------------------

**Exercise 5**: *Find the Month that most players were born in.*

In [ ]:
# Code for Exercise 5 goes here 
# -----------------------------